<launch>
<include file="$(find fmCore)/launch/armadillo/armadillo-sensors.launch"/>
<include file="$(find fmCore)/launch/armadillo/armadillo-actuators.launch"/>
<include file="$(find fmCore)/launch/armadillo/armadillo-tf.launch"/>
<include file="$(find fmCore)/launch/armadillo/armadillo-hmi.launch"/>



<node pkg="fmDecisionMakers" name="navigate_in_row_simple" type="navigate_in_row_simple.py">
</node>


</launch>