<launch>


<group ns="fmCSP">

	<node pkg="fmCSP" name="USB1" type="serial_string" output="screen" >
        <param name="publisher_topic" value="/fmCSP/com1_rx" />	 
        <param name="subscriber_topic" value="/fmCSP/com1_tx" />
		<param name="device" value="/dev/ttyACM0" />	
		<param name="baudrate" value="115200" />
		<param name="termination_character" value="10"/>
	</node>
	
	<node pkg="fmCSP" name="USB0" type="serial_string">
        <param name="publisher_topic" value="/fmCSP/com0_rx" />	 
        <param name="subscriber_topic" value="/fmCSP/com0_tx" />	
        <param name="device" value="/dev/ttyUSB0" />
        <param name="baudrate" value="115200" />
        <param name="termination_character" value="10"/>
	</node>

</group>

<group ns="fmSensors">

	<node pkg="fmSensors" name="gpgga_parser" type="gps_node" output="screen"> 
	    <param name="subscribe_topic_id" value="/fmCSP/com1_rx" />
		<param name="publish_topic_id" value="/fmSensors/gpgga" />
	</node>
	
	<node pkg="fmSensors" name="IMU" type="vectornav_imu_node" output="screen"> 
	    <param name="subscribe_topic_id" value="/fmCSP/com0_rx" />
		<param name="publish_topic_id" value="/fmSensors/IMU" />
		<param name="frame_id" value="imu_link" />
		<param name="cov_x" value="0.001"/>
		<param name="cov_y" value="0.001"/>
		<param name="cov_z" value="0.001"/>
	</node>
	
	<node pkg="fmSensors" name="laser_range" type="lms111_node"  respawn="true" >
        <param name="host" value="192.168.0.10"/>
        <param name="topic_id" value="/fmSensors/laser_msg"/>
        <param name="frame_id" value="laser_link"/>
        <param name="invert_output" value="true" />
    </node>
</group>

</launch>