<launch>

<arg name="sim" default="false"/>
<arg name="use_local" default="false"/>
<arg name="test_mode" default="false"/>
<arg name="usb_serial_gps" default="/dev/gps"/>
<arg name="usb_serial_imu" default="/dev/imu"/>
<arg name="rl" />
<arg name="rr" />

<group ns="transforms">
    <node pkg="tf" type="static_transform_publisher" name="imu_link_broadcaster" args="0 0.0 0.8 0 0 0 base_footprint imu_link 50"/>
    <node pkg="tf" type="static_transform_publisher" name="gps_link_broadcaster" args="0 0.0 2 0 0 0 base_footprint gps_link 50"/>
    <node pkg="tf" type="static_transform_publisher" name="base_link_broadcaster" args="0 0 0 0 0 0 base_footprint base_link 50"/>
    <node pkg="tf" type="static_transform_publisher" name="odom_remap_link_broadcaster" args="0 0 0 0 0 0 odom_combined odom 50" if="$(arg sim)"/>
    <node pkg="tf" type="static_transform_publisher" name="map_link_broadcaster" args="-651205.81 -6133670.38 0 0 0 0 map odom_combined 50"/>
</group>

<group if="$(arg test_mode)">
    <group ns="fmExecutors"> 
        <node pkg="fmExecutors" name="drive_forward" type="drive_forward.py"></node>
    </group>
</group>
<group unless="$(arg test_mode)">
	<group ns="fmExecutors" >
	    <node pkg="fmExecutors" name="rabbitPlanner" type="rabbitPlanner" output="screen">
	        <param name="deltaRabbit" value="2" />
	        <param name="deltaWaypoint" value="0.1" />
	        <param name="rabbit_type" value="auto" />
	        <param name="odometry_frame" value="odom_combined" />
	        <param name="vehicle_frame" value="base_footprint" />
	        <param name="rabbit_frame" value="rabbit" />
	    </node>
	    
	    <node pkg="fmExecutors" name="sprayer" type="spray.py"></node>
	</group>
	<node pkg="dynamic_reconfigure" name="config_planner" type="dynparam" args="load /fmExecutors/rabbitPlanner $(find fmCore)/launch/sdu/sandbox/armadillo-sprayer/rabbitplan-flakke.yaml"/>
	<node pkg="dynamic_reconfigure" name="config_follower" type="dynparam" args="load /fmControllers/rabbit_follower $(find fmCore)/launch/sdu/sandbox/armadillo-sprayer/rabbitfollow-flakke.yaml"/>

	<group ns="fmControllers">
	    <node pkg="fmControllers" name="rabbit_follower" type="rabbit_follower_node">
	        <param name="cmd_vel_topic_id" value="/fmControllers/cmd_vel_auto"/>
	        <param name="rabbit_frame_id" value="rabbit"/>
	        <param name="vehicle_frame_id" value="base_footprint"/>
	        <param name="P_gain" value="2"/>
	        <param name="field_of_view_rad" value="6.28"/>
	        <param name="max_angular_vel" value="0.2"/>
	        <param name="max_linear_vel" value="0.2"/>
	        <param name="oscilation_bounds" value="0.05"/>
	        <param name="target_acquired_tolerance" value="0.01"/>
	    </node>
	</group>
</group>

<group unless="$(arg use_local)">
	<group ns="fmProcessors" unless="$(arg sim)">
	 <node pkg="fmProcessors" type="odom_estimation" name="Odometry_Estimation" output="screen" >
	    <param name="imu_subscriber_topic" value="/fmSensors/IMU"/>
	    <param name="odom_subscriber_topic"     value="/fmExtractors/wheel_odom"/>
	    <param name="gps_odom_subscriber_topic" value="/fmExtractors/gps_odom"/>
	    <param name="odom_estimate_publisher_topic" value="/fmProcessors/odom_estimate"/>
	    <param name="vehicle_frame" value="base_footprint"/>
	    <param name="gps_frame" value="gps_link"/>
	    <param name="odom_estimate_frame" value="odom_combined"/>
	    <param name="gps_covariance" value="0.01"/>
	    <param name="imu_covariance" value="0.0001"/>
	    <param name="odom_covariance" value="0.05"/>
	    <param name="ks" value="0.1"/>
	    <param name="ktheta" value="10"/>
	    <param name="magnetic_north_correction" value="0.3"/>
	    <param name="angle_update_distance_threshold" value="0.1"/>
	  </node> 
	</group>
	
	
	<group ns="fmExtractors" unless="$(arg sim)">
	    <node pkg="fmExtractors" name="UTM_TO_ODOM" type="utm_to_odom" output="screen"> 
	        <param name="subscribe_topic_id" value="/fmExtractors/utm" />
	        <param name="publish_topic_id" value="/fmExtractors/gps_odom" />
	        <param name="odom_frame_id" value="odom_combined" />
	        <param name="child_odom_frame_id" value="gps_link" />
	        <param name="receive_n_before_publish" value="10"/>
	        <param name="gps_variance" value="1"/>
	        <param name="gps_heading_threshold" value="0.1"/>
	        <param name="gps_heading_variance" value="0.01"/>
	    </node>
	    
	    <node pkg="fmExtractors" name="GPGGA_TO_UTM" type="gps_state" output="screen"> 
	        <param name="subscribe_topic_id" value="/fmSensors/gpgga" />
	        <param name="publish_topic_id" value="/fmExtractors/utm" />
	    </node>
	    
	    <node pkg="fmExtractors" name="wheel_odometry" type="simple_odom">
	        <!-- <param name="conv_ticks_to_meter_left"  value="0.001873049"/> --> 
	        <!-- Calculated by one complete belt cycle which gives 961 hall counts -->
	        <param name="conv_ticks_to_meter_left" value="0.00120"/>
	        <param name="conv_ticks_to_meter_right" value="0.00120"/> 
	        <param name="distance_between_wheels_in_meter" value="2.5"></param>
	        <param name="max_time_diff" value="1"></param>      
	        <param name="publisher_topic"        value="/fmExtractors/wheel_odom" />
	        <param name="enc_r_subscriber_topic" value="/fmSensors/encoder_right" />
	        <param name="enc_l_subscriber_topic" value="/fmSensors/encoder_left" />
	    </node>
	</group>
</group>

<group if="$(arg use_local)">
	<group ns="fmExtractors">
	   <node pkg="fmExtractors" name="odom_imu" type="simple_imu_odom">
	        <param name="publisher_topic" value="/fmExtractors/odom"/>
	        <param name="subscribe_imu" value="/fmSensors/IMU"/>
	        <param name="enc_r_subscriber_topic" value="/fmSensors/encoder_right"/>
	        <param name="enc_l_subscriber_topic" value="/fmSensors/encoder_left"/>
	        <param name="conv_ticks_to_meter_left" value="0.00120"/>
	        <param name="conv_ticks_to_meter_right" value="0.00120"/>
	        <param name="max_time_diff" value="1"/>
	        <param name="distance_between_wheels_in_meter" value="2.4"/>
	        <param name="vehicle_frame" value="base_footprint"/>
	        <param name="odom_estimate_frame" value="odom_combined"/>
	    </node>
	</group>

</group>
<group ns="fmHMI">
    <node pkg="wiimote" type="wiimote_node.py" name="remote_control" respawn="true">
    </node>
    <node pkg="fmHMI" type="wiimote_to_twist" name="wii_to_user_twist">
        <param name="max_angular_velocity" value="0.3"/>
        <param name="max_linear_velocity" value="0.35"/>
        <param name="x_axis" value="1"/>
        <param name="y_axis" value="0"/>
        <param name="z_axis" value="2"/>
        <param name="invert_x" value="false"/>
        <param name="invert_z" value="true"/>
        <param name="invert_y" value="true"/>
    </node>
</group>

<group ns="fmKinematics" unless="$(arg sim)">
    <node pkg="fmKinematics" name="cmd_vel_to_tracks" type="armadillo_ifk">
            <param name="hl_subscriber_topic" value="/fmTools/cmd_vel"></param>
            <param name="ll_publisher_topic_left" value="/fmKinematics/cmd_vel_left"></param>
            <param name="ll_publisher_topic_right" value="/fmKinematics/cmd_vel_right"></param>
            <param name="deadmanbutton_topic" value="/fmHMI/joy"></param>
    </node>
</group>

<group ns="fmTools">
        <node pkg="fmTools" name="cmd_vel_mux" type="topic_mux" unless="$(arg sim)">
            <param name="topic_1_timeout" value="1"/>
            <param name="topic_2_timeout" value="1"/>
            <param name="topic_1_id" value="/fmHMI/wii_cmd_vel"/>
            <param name="topic_2_id" value="/fmControllers/cmd_vel_auto"/>
            <param name="cmd_vel_out_id" value="/fmTools/cmd_vel"/>
        </node>
        
        <node pkg="fmTools" name="cmd_vel_mux" type="topic_mux_sim" if="$(arg sim)">
            <param name="topic_1_timeout" value="1"/>
            <param name="topic_2_timeout" value="1"/>
            <param name="topic_1_id" value="/fmHMI/wii_cmd_vel"/>
            <param name="topic_2_id" value="/fmControllers/cmd_vel_auto"/>
            <param name="cmd_vel_out_id" value="/fmTools/cmd_vel"/>
            <param name="cmd_vel_stamped_out_id" value="/fmTools/cmd_vel_stamped"></param>
        </node>
        
        <node pkg="fmTools" name="planviz" type="rabbit_planner_marker"></node>
</group>

<group ns="fmActuators" unless="$(arg sim)">
    <node pkg="fmActuators" type="roboteq_controller" name="robotteq_l" output="screen" >
        <param name="cmd_vel_topic" value="/fmKinematics/cmd_vel_left"/>
        <param name="serial_rx_topic" value="/fmCSP/S0_rx"/>
        <param name="serial_tx_topic" value="/fmCSP/S0_tx"/>
        <param name="deadman_joy_topic" value="/fmHMI/joy"/>
        <param name="encoder_topic" value="/fmSensors/encoder_left"/>
        <param name="status_topic" value="/fmActuators/status_left"/>
        <param name="max_time_diff" value="1"/>
        <param name="deadman_joy_button_index" value="3"/>
        <param name="deadman_joy_max_missing" value="30"/>
    </node>
    
    <node pkg="fmActuators" type="roboteq_controller" name="robotteq_r" output="screen" >
        <param name="cmd_vel_topic" value="/fmKinematics/cmd_vel_right"/>
        <param name="serial_rx_topic" value="/fmCSP/S1_rx"/>
        <param name="serial_tx_topic" value="/fmCSP/S1_tx"/>
        <param name="deadman_joy_topic" value="/fmHMI/joy"/>
        <param name="encoder_topic" value="/fmSensors/encoder_right"/>
        <param name="status_topic" value="/fmActuators/status_right"/>
        <param name="max_time_diff" value="1"/>
        <param name="deadman_joy_button_index" value="3"/>
        <param name="deadman_joy_max_missing" value="30"/>
    </node>
</group>

<group ns="fmSensors" unless="$(arg sim)">

    <node pkg="fmSensors" name="gpgga_parser" type="gps_node" output="screen"> 
        <param name="subscribe_topic_id" value="/fmCSP/com1_rx" />
        <param name="publish_topic_id" value="/fmSensors/gpgga" />
    </node>
    
    <node pkg="fmSensors" name="IMU" type="vectornav_imu_node" output="screen"> 
        <param name="subscribe_topic_id" value="/fmCSP/com0_rx" />
        <param name="publish_topic_id" value="/fmSensors/IMU" />
        <param name="frame_id" value="imu_link" />
        <param name="cov_x" value="0.001"/>
        <param name="cov_y" value="0.001"/>
        <param name="cov_z" value="0.001"/>
        <param name="use_enu" value="true" if="$(arg test_mode)"/>
        <param name="use_enu" value="false" unless="$(arg test_mode)"/>
    </node>
</group>

<group ns="fmCSP" unless="$(arg sim)">

    <node pkg="fmCSP" name="S0" type="serial_string2">
        <param name="publisher_topic" value="/fmCSP/S0_rx" />    
        <param name="subscriber_topic" value="/fmCSP/S0_tx" />  
        <param name="device" value="$(arg rl)" />  
        <param name="baudrate" value="115200" />
        <param name="termination_character" value="13"/>
    </node>
    
    <node pkg="fmCSP" name="S1" type="serial_string2">
        <param name="publisher_topic" value="/fmCSP/S1_rx" />    
        <param name="subscriber_topic" value="/fmCSP/S1_tx" />  
        <param name="device" value="$(arg rr)" />  
        <param name="baudrate" value="115200" />
        <param name="termination_character" value="13"/>
    </node>
    
    <node pkg="fmCSP" name="USB1" type="serial_string" output="screen" >
        <param name="publisher_topic" value="/fmCSP/com1_rx" />  
        <param name="subscriber_topic" value="/fmCSP/com1_tx" />
        <param name="device" value="$(arg usb_serial_gps)" />    
        <param name="baudrate" value="115200" />
        <param name="termination_character" value="10"/>
    </node>
    
    <node pkg="fmCSP" name="USB0" type="serial_string">
        <param name="publisher_topic" value="/fmCSP/com0_rx" />  
        <param name="subscriber_topic" value="/fmCSP/com0_tx" />    
        <param name="device" value="$(arg usb_serial_imu)" />
        <param name="baudrate" value="115200" />
        <param name="termination_character" value="10"/>
    </node>
</group>

</launch>