<launch>

	<param name="use_sim_time" value="true"/>
	
	<group ns="fmSim">
		<node pkg="stage" name="stage_simulator" type="stageros" args="$(find fmSim)/conf/stage/simple.world"></node>
	</group>
	
	<group ns="fmDecisionMakers">
		<node pkg="fmDecisionMakers" type="make_turn.py" name="make_turn"></node>
		<node pkg="fmDecisionMakers" type="navigate_in_row.py" name="navigate_in_row"></node>
		<node pkg="fmDecisionMakers" type="find_row.py" name="find_row"></node>
	</group>
	
	<group ns="fmExecutors" >
	    <node pkg="fmExecutors" name="rabbitPlanner" type="rabbitPlanner" output="screen">
	        <param name="deltaRabbit" value="10" />
	        <param name="deltaWaypoint" value="0.1" />
	        <param name="rabbit_type" value="auto" />
	        <param name="odometry_frame" value="odom" />
	        <param name="vehicle_frame" value="base_footprint" />
	        <param name="rabbit_frame" value="rabbit" />
    	</node>
	</group>
	
	<group ns="fmControllers" >
		<node pkg="fmControllers" name="rabbit_follower" type="rabbit_follower_node" output="screen">
			<param name="cmd_vel_topic_id" value="/fmControllers/cmd_vel"/>
			<param name="rabbit_frame_id" value="rabbit"/>
			<param name="vehicle_frame_id" value="base_footprint"/>
			<param name="P_gain" value="2"/>
			<param name="field_of_view_rad" value="6.28"/>
			<param name="max_angular_vel" value="1.5"/>
			<param name="max_linear_vel" value="1.0"/>
			<param name="oscilation_bounds" value="0.5"/>
			<param name="target_acquired_tolerance" value="0.1"/>
		</node>
	</group>
	
	<group ns="fmHMI">
		<node pkg="wiimote" type="wiimote_node.py" name="remote_control" respawn="true">
		<remap from="joy" to="joy_new"/>
		</node>
		<node pkg="fmHMI" type="wiimote_to_twist" name="wii_to_user_twist">
			<param name="max_angular_velocity" value="0.5"/>
			<param name="max_linear_velocity" value="0.5"/>
			<param name="x_axis" value="1"/>
			<param name="y_axis" value="0"/>
			<param name="z_axis" value="2"/>
			<param name="invert_x" value="true"/>
		</node>
	</group>
	
	<node pkg="tf" type="static_transform_publisher" name="utm_link_broadcaster" args="0 0 0 0 0 0 map  odom 100"/>
	
	<group ns="fmTools">
		<node pkg="fmTools" name="joyconverter" type="sensor_msg_to_joy.py"/>
		<node pkg="fmTools" name="cmd_vel_mux" type="topic_mux_sim">
			<param name="topic_1_timeout" value="1"/>
			<param name="topic_2_timeout" value="1"/>
			<param name="topic_1_id" value="/fmHMI/wii_cmd_vel"/>
			<param name="topic_2_id" value="/fmControllers/cmd_vel"/>
			<param name="cmd_vel_out_id" value="/fmSim/cmd_vel"/>
		</node>
	</group>
	
</launch>