<launch>
  <group ns="fmTools">
	<node pkg="uvc_camera" name="webcam" type="camera_node">
		<remap from="image_raw" to="/visualization/image_raw"></remap>
		<param name="device" value="/dev/video0"></param>
		<param name="width" value="320"></param>
		<param name="height" value="240"></param>
		<param name="frame_id" value="cam_link"></param>
		<param name="fps" value="1"></param>
		<param name="skip_frames" value="3"/>
	</node>
  </group>
</launch>
