<launch>

    <arg name="use_gps" default="false"/>
    <arg name="usb_serial_imu" default="/dev/ttyUSB0"/>
    <arg name="usb_serial_gps" default="/dev/ttyUSB1" if="$(arg use_gps)"/>
    <arg name="laser_scanner_ip" default="192.168.0.10"/>
    <arg name="sim" default="false"/>
    
    <param name="use_sim_time" value="true" if="$(arg sim)"/>

    <include file="$(find fmCore)/launch/hohenheim/hako_tractor/hako-base.launch">
        <arg name="sim" value="$(arg sim)"/>
    </include>

    <include file="$(find fmCore)/launch/hohenheim/hako_tractor/hako-localization.launch" unless="$(arg sim)">
            <arg name="use_gps" value="$(arg use_gps)"/>
            <arg name="usb_serial_imu" value="$(arg usb_serial_imu)"/>
            <arg name="usb_serial_gps" value="$(arg usb_serial_gps)" if="$(arg use_gps)"/>
    </include>
    
    <include file="$(find fmCore)/launch/hohenheim/hako_tractor/hako-tf.launch">
        <arg name="use_gps" value="$(arg use_gps)"/>
        <arg name="sim" value="$(arg sim)"/>
    </include>
    
    <include file="$(find fmCore)/launch/hohenheim/hako_tractor/hako-row.launch">
        <arg name="laser_scanner_ip" value="$(arg laser_scanner_ip)"/>
        <arg name="sim" value="$(arg sim)"/>
    </include>
    
    <include file="$(find fmCore)/launch/hohenheim/hako_tractor/hako-hmi.launch"/>
    
    <group ns="fmExecutors">
        <node pkg="fmExecutors" name="navigate_in_row_simple" type="navigate_in_row_simple.py"></node>
        <node pkg="fmExecutors" name="make_turn" type="make_turn.py"></node>
        <node pkg="fmExecutors" name="drive_forward" type="drive_forward.py"></node>
    </group>

</launch>
