<launch>
<arg name="laser_scanner_ip" default="192.168.0.11"/>
<arg name="sim" default="false"/>
<!-- 
    Launch the row extractor node and configure it with the parameters found 
    in rowconf.yaml 

 -->
 
 <group ns="fmProcessors">
    <node pkg="fmProcessors" name="row_kf" type="kalman_row_estimator">
    </node>
 
 
 </group>
 
<group ns="fmExtractors"> 
    
    <node pkg="dynamic_reconfigure" name="param_load" type="dynparam" args="load /fmExtractors/row_finder $(find fmCore)/launch/hohenheim/hako_tractor/rowconf.yaml" unless="$(arg sim)"/>
    <node pkg="dynamic_reconfigure" name="param_load" type="dynparam" args="load /fmExtractors/row_finder $(find fmCore)/launch/hohenheim/hako_tractor/conf/hako-sim-row.yaml" if="$(arg sim)"/>
    
    <node pkg="fmExtractors" name="row_finder" type="lidar_row_extractor">
        <param name="frame_id" value="laser_link"></param>
        <param name="subscriber_topic" value="/fmSensors/laser_msg"></param>
    </node>
    
</group>

<!-- 
    Launch the node for interfacing with the LMS111
 -->
<group ns="fmSensors">
    <node pkg="fmSensors" name="laser_range" type="lms111_node"  respawn="true" unless="$(arg sim)">
        <param name="host" value="$(arg laser_scanner_ip)"/>
        <param name="topic_id" value="/fmSensors/laser_msg"/>
        <param name="frame_id" value="laser_link"/>
        <param name="invert_output" value="false" />
    </node>
</group>


</launch>
