<launch>
<group ns="fmControllers">

    <node pkg="fmControllers" name="hako_engine_rpm" type="engine_rpm_control" > 
        <param name="subscribe_topic_id" value="/fmHMI/joy" />
        <param name="publish_topic_id" value="/fmControllers/engine_rpm" />
		<param name="idle_rpm" value="1000"/>
		<param name="low_rpm" value="1300"/>
		<param name="medium_rpm" value="1700"/>
		<param name="high_rpm" value="2000"/>
    </node>

   
</group>

</launch>
