<launch>
<group ns="transforms">
	<node pkg="tf" type="static_transform_publisher" name="imu_link_broadcaster" args="1.3 0.0 0.8 0 0 0 base_footprint imu_link 100"/>
	<node pkg="tf" type="static_transform_publisher" name="row_cam_link_broadcaster" args="1.3 0.0 0.8 0 0 0 base_footprint row_cam_link 100"/>
	<node pkg="tf" type="static_transform_publisher" name="gps_link_broadcaster" args="1.4 0.0 1.7 0 0 0 base_footprint gps_link 100"/>
	<node pkg="tf" type="static_transform_publisher" name="laser_link_broadcaster" args="1.4 0 0.2 0 0 0 base_footprint laser_link 10"/>
	<node pkg="tf" type="static_transform_publisher" name="base_link_broadcaster" args="0 0 0 0 0 0 base_footprint base_link 100"/>
</group>
</launch>
