<launch>

<!-- Include sensors currently mounted on the ASuBot -->
<include file="$(find fmCore)/launch/ASuBot-sensors.launch"/>

<!-- Include actuators currently mounted on the ASuBot -->
<include file="$(find fmCore)/launch/ASuBot-actuators.launch"/>

<!-- Include the current mounting position -->
<include file="$(find fmCore)/launch/ASuBot-tf.launch"/>

<!-- High level functionality -->
<include file="$(find fmCore)/launch/odometry-fusion.launch"/>
<include file="$(find fmCore)/launch/rabbit-follow.launch"/>

<node pkg="tf" type="static_transform_publisher" name="utm_link_broadcaster" args=" -591644.751471 -6130629.35863 0 0 0 0 map  odom_combined 100"/>
</launch>
