<launch>

<group ns="fmActuators">
	<node pkg="fmActuators" type="topcon" name="topconaes" output="screen">
		<param name="publisher_topic" value="/fmCSP/can1_tx"></param>
		<param name="subscriber_topic" value="/fmCSP/can1_rx"></param>
		<param name="steering_angle_cmd" value="/fmKinematics/steering_angle_cmd" />
	</node>
</group>

<group ns="fmKinematics">
	<node pkg="fmKinematics" name="cmd_vel_to_angle" type="asubot_twist_to_angle_cmd">
		<param name="steering_angle_publisher_topic" value="/fmKinematics/steering_angle_cmd2"></param>
		<param name="twist_subscriber_topic" value="/fmControllers/cmd_vel_auto"></param>
	</node>
</group>

</launch>