<launch>
	<group ns="viz">
		 <node pkg="rviz" name="visualization" type="rviz" args="-d $(find fmSim)/conf/odom_viz.vcg"/>
		 
		 <node pkg="fmTools" name="imu_marker" type="imu_marker">
		 	<param name="imu_subscriber_topic" value="/fmSensors/IMU"></param>
		 	<param name="marker_publisher_topic" value="/fmTools/imu_marker"></param>
		 	<param name="frame_id" value=" imu_link"></param>
		 </node>
		 
		 <node pkg="fmTools" name="row_marker" type="row_cam_marker">
		 	  <param name="row_subscriber_topic" value="/fmSensors/row"/>
		 	  <param name="marker_publisher_topic" value="/fmTools/row_marker"/>
		 	  <param name="frame_id" value="row_cam_link"/>
			  <param name="line_length" value="5"/>
		 </node>
		 <!-- Create a transform which moves base footprint back where rviz can see it due to utm coordinates  -->
		 <!-- -588797 -6137255 is at TEK NBA1 on the grass field 
		 -591644.751471 -6130629.35863 rows at aarslev
		 -->
		<node pkg="tf" type="static_transform_publisher" name="utm_link_broadcaster" args=" -591644.751471 -6130629.35863 0 0 0 0 map  odom_combined 100"/>
	</group>
</launch>
